body{
  background: #f6f6f6;
}

#particles-js canvas{
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  background: #ff6807 ;
  background: -webkit-linear-gradient(45deg, #ff6807 , #ffb600cc) !important;
  background: -moz- oldlinear-gradient(45deg, #ff6807 , #ffb600cc) !important;
  background: -o-linear-gradient(45deg, #ff6807 , #ffb600cc) !important;
  background: linear-gradient(45deg, #ff6807 , #ffb600cc) !important;
}

.fixed-top {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}

.header{
  padding-top: 0px;
  padding-bottom: 0px;
  border-bottom: none;
  border-color: transparent;
  background-color: transparent;
}

.header .navbar-brand img{
  height: 40px;
}

.header .navbar .navbar-nav .nav-link{
  color: #fff;
  font-weight: 600;
  padding: 7px 0;
  cursor: pointer;
  position: relative;
  background: transparent;
}

.header .navbar .navbar-nav .active > .nav-link{
  color: #fff !important;
  width: 100%;
}

.header .navbar .navbar-nav .nav-link:hover{
  color: #fff !important;
  width: 100%;
}

.header .navbar li {
  position: relative;
  line-height: 1em;
  padding: 15px 15px;
}

.header .navbar .menu-item-list .dropdown-menu .dropdown-item{
 padding: 1rem 1.5rem;
}

.header .navbar .menu-item-list .dropdown-menu {
  margin-top: 2px;
  padding: 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0,0,0,0.15);
  border-radius: 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0,0,0,0.175);
  box-shadow: 0 6px 12px rgba(0,0,0,0.175);
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}

.header .navbar .navbar-toggler {
  font-size: 24px;
  color: #fff;
  border: none;
}

.header .btn-login{
  padding-left: 20px;
  padding-right: 10px;
  color: #fff!important;
}

.header .sign-up{
  padding: 2px 15px;
}

.header .btn-outline-primary.sign-up{
  border-color: #fff!important;
  color: #fff !important;
  z-index: 9999;
}

.header a.btn-outline-primary.sign-up:hover{
  background: #fff!important;
  color: #333357!important;
  z-index: 9999;
}

/*section banner*/
section.banner{
  z-index: 1;
  position: relative;
  height: 100%;
  width: 100%;
  padding-top: 150px;
  padding-bottom: 100px;
  color: #fff;
  
}

section.banner .content{
  text-align: center;
}

section.banner .content h1{
  font-size: 50px;
  font-weight: 300;
}

section.banner .content .desc{
  font-size: 18px;
}

section.banner .mobile-device .image{
  width: 50%;
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

section.banner .btn-outline-primary.sign-up {
  border-color: #fff!important;
  color: #fff !important;
  z-index: 9999;
}

section.banner .btn-outline-primary.sign-up:hover{
  background: #fff !important;
  z-index: 9999;
  color: #333!important;
}

/*section-1*/
section.section-1{
  color: #212529;
  min-height: 650px;
  position: relative;
  overflow: hidden;
  padding: 110px 0 80px;
  background: #fff !important;
  text-align: left;
}


section.section-1 .content .title{
  font-size: 40px;
  font-weight: 600;
}

section.section-1 .content .desc{
  font-size: 18px;
  font-weight: 500;
  color: #abacae;
}


/*section-1*/
section.section-2{
  color: #212529;
  position: relative;
  padding: 100px 0;
}

section.section-2 .content .title{
  font-size: 40px;
  font-weight: 600;
}

section.section-2 .content .border-line hr{
  max-width: 120px;
  margin-top: 5px;
  border: 2px solid #ef5d0f;
}

section.section-2 .content .desc{
  font-size: 18px;
  font-weight: 500;
}

section.section-2 .feature-item{
  background: #fff;
  padding: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
  min-height: 310px;
  transition: .2s all ease-out;
}

section.section-2 .feature-item:hover {
  -webkit-box-shadow: 0px 11px 28px -6px rgb(254, 195, 50);
  -moz-box-shadow: 0px 11px 28px -6px rgb(254, 195, 50);
  box-shadow: 0px 11px 28px -6px rgb(254, 195, 50);
  transform: scale(1.02);
}

section.section-2 .feature-item i{
  font-size: 80px;
  display: block;
  margin-bottom: 15px;
  background: -webkit-gradient(linear,right top,left top,from(#e63607),to(#f9a006));
  background: linear-gradient(to left, #e63607, #f9a006);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

section.section-2 .feature-item h3{
  font-weight: 200;
  font-size: 30px;
}

section.section-2 .feature-item p{
  margin-bottom: 30px;
}

/*section how it works*/
section.how-it-works{
  padding: 100px 0;
  position: relative;
  background: linear-gradient(360deg, #ff7700 0%, #f4d19a 100%);
  color: #fff;
  z-index: 100;
}

.how-it-works:before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../images/bg_how_it_works.jpg);
  background-position: center center;
  background-attachment: fixed;
  opacity: 0.1;
  z-index: -99;
}

section.how-it-works .header-top{
  padding-bottom: 80px;
}

section.how-it-works .header-top .title{
  font-size: 40px;
  font-weight: 600;
  font-family: 'Source Sans Pro', sans-serif;
}

section.how-it-works .step-lists .step{
  position: relative;
  padding-bottom: 75px;
}

section.how-it-works .step-lists .step .bg-number{
  position: absolute;
  font-size: 12rem;
  top: -130px;
  left: 0px;
  z-index: -1;
  font-weight: bold;
  color: rgb(244, 124, 1);
  font-family: 'Source Sans Pro', sans-serif;
}


/*section-reviews*/
section.reviews{
  color: #212529;
  position: relative;
  padding: 100px 0;
  background: #fff;
}

section.reviews .contents .head-title{
  font-size: 50px;
  font-weight: 500;
}

section.reviews .item{
  padding: 40px 20px;
}

section.reviews .item .person-info .name{
  font-size: 18px;
  color: black;
  margin-bottom: 2px!important;
}

section.reviews .item .desc{
  color: #7e7e7e;
  font-size: 14px;
  line-height: 1.6;
}

section.reviews .item .star-icon{
  color: hsl(46, 100%, 49%);
}


/*section 3*/

section.section-3{
  color: #f16334;
  position: relative;
  padding: 60px 0 40px;
  background: #fff !important;
}

/*auth-login-form*/
.login-bg-image{
  height: 100vh;
  background: url(../images/bg-01.jpg) center center/cover;
  filter: blur(6px);
  -webkit-filter: blur(6px);
}

.auth-login-form {
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 100%;
  position: fixed;
}

.auth-login-form .auth-form{
  width: 100%;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

/*reponsive*/
.header.shrink{
  background: #fff!important;
  box-shadow: 0 3px 9px 3px rgba(0, 0, 0, 0.06)!important;
}


.header.shrink .navbar .navbar-nav .nav-link{
  color: #22012f ;
  cursor: pointer;
  position: relative;
  background: transparent;
}

.header.shrink .navbar .navbar-nav .active > .nav-link{
  color: #f16334 !important;
}

.header.shrink .navbar .navbar-nav .nav-link:hover{
  color: #f16334 !important;
}


.header.shrink .btn-login{
  color: #22012f!important;
  
}

.header.shrink .btn-login:hover{
  color: #f16334!important;
  font-weight: 500;
}

.header.shrink .sign-up{
  padding: 2px 15px;
}

.header.shrink .btn-outline-primary.sign-up{
  border-color: #f16334!important;
  color: #22012f !important;
  z-index: 9999;
}

.header.shrink a.btn-outline-primary.sign-up:hover, .header a.btn-outline-primary.btn-statistics{
  font-weight: 500;
  color: #fff!important;
  z-index: 9999;
  border-color: #fea921!important;
  background-color: #fea921!important;
  background-image: -webkit-linear-gradient(left,#ff7802 0%,#fea921 100%),-webkit-linear-gradient(left,#ff7802 0%,#fea921 100%)!important;
  background-image: -moz-linear-gradient(left,#ff7802 0%,#fea921 100%),-moz-linear-gradient(left,#ff7802 0%,#fea921 100%)!important;
  background-image: -o-linear-gradient(left,#ff7802 0%,#fea921 100%),-o-linear-gradient(left,#ff7802 0%,#fea921 100%)!important;
  background-image: linear-gradient(to right,#ff7802 0%,#fea921 100%),linear-gradient(to right,#ff7802 0%,#fea921 100%)!important;
}



@media (max-width: 576px){
  
  section.banner .content{
    text-align: center;
  }
  section.banner .content h1{
    font-size: 30px;
  }
}

@media (max-width: 768px){
  .header .navbar .navbar-nav{
    margin:10px -35px 0px !important;
  }
  .header .navbar .navbar-nav li{
    line-height: 1em;
    padding: 8px 38px;
  }
  .header .navbar ul.navbar-nav li.nav-item.active:before, .header .navbar ul.navbar-nav li.nav-item:hover:before{
    display: none;
  }
  .header.shrink .navbar .navbar-toggler{
    color: #333;
  }
  .header .btn-login-signup{
    padding: 10px;
  }
  .header .btn-login{
    padding-left: 29px;
  }

}

@media (min-width: 1280px){
  .container {
    max-width: 1200px;
  }
}


@media (max-width: 768px){
  .header .navbar .navbar-nav{
    margin:10px -35px 0px !important;
  }
  .header .navbar .navbar-nav li{
    line-height: 1em;
    padding: 8px 38px;
  }
  .header .navbar ul.navbar-nav li.nav-item.active:before, .header .navbar ul.navbar-nav li.nav-item:hover:before{
    display: none;
  }
  .header.shrink .navbar .navbar-toggler{
    color: #333;
  }
  .header .btn-login-signup{
    padding: 10px;
  }
  .header .btn-login{
    padding-left: 0px!important;
  }
}

/*Header Dropmenu*/
.header .dropdown-menu {
  margin-top: 0rem;
}

.header .navbar-nav li:hover > ul.dropdown-menu {
  display: block;
}

.header .dropdown-menu{
  padding: 0px;
  border: none;
  border-radius: 0px;
  min-width: 200px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  -webkit-transition: all 150ms linear;
  transition: all 150ms linear;
}

.header .dropdown-menu li.dropdown-submenu:hover{
  background-color: hsl(0, 8%, 97%);
}

.header .dropdown-menu li.dropdown-submenu:hover>a{
  color: #ff7a03;
}

.header .dropdown-menu li.dropdown-submenu:hover>a:after{
  transform: rotate(-90deg);
}

.header .dropdown-item{
  color: black;
}

.header .dropdown-item:hover, .dropdown-item:focus {
 background-color: hsl(0, 8%, 97%);
 color: #ff7a03; 
}

.header .navbar .dropdown-menu li {
  padding: 10px 10px;
}

.header .dropdown-submenu {
  position:relative;
}

.header .dropdown-submenu>.dropdown-menu {
  top:0;
  left:99.99%;
}

/* rotate caret on hover */
.header .dropdown-menu > li > a:hover:after {
  text-decoration: underline;
  transform: rotate(-90deg);
}

@media (max-width: 768px){
  .header .dropdown-menu {
    margin-top: 0.75rem;
    border: none;
    box-shadow: none;
  }

  .header .dropdown-menu li.dropdown-submenu:hover, .header .dropdown-menu li.dropdown-submenu:hover>a{
    background-color: #fff;
  }
}

/*End*/