.section {

    padding: 0 0 58px;

}



[class^=section] {

    width: 100%;

    position: relative;

}

.section .section__head {

    text-align: center;

    font-size: 19px;

    line-height: 1.38;

    color: #868e9b;

}



.section>:not(:last-child) {

    padding-bottom: 50px;

}

.section>:first-child {

    padding-top: 58px;

}

[class^=section] {

    width: 100%;

    position: relative;

}

.shell {

    max-width: 1290px;

    padding-left: 20px;

    padding-right: 20px;

    margin: auto;

}.section .section__head h2 {

    font-weight: 600;

    margin-bottom: 22px;

}.section .section__head p {

    margin: 0 auto;

}.shell:after {

    content: "";

    display: block;

    clear: both;

}.section .section__body .shell {

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;

    -ms-flex-wrap: wrap;

    flex-wrap: wrap;

    -webkit-box-pack: justify;

    -ms-flex-pack: justify;

    justify-content: space-between;

}



.shell--normal {

    max-width: 1130px;

}.section .section__body-col {

    width: calc(50% - 15px);

}.accordion-main .accordion__group {

    border: 2px solid transparent;

    border-radius: 6px;

    -webkit-transition: padding .4s,border .4s,background .4s,margin .4s,-webkit-box-shadow .4s;

    transition: padding .4s,border .4s,background .4s,margin .4s,-webkit-box-shadow .4s;

    -o-transition: padding .4s,border .4s,background .4s,margin .4s,box-shadow .4s;

    transition: padding .4s,border .4s,background .4s,margin .4s,box-shadow .4s;

    transition: padding .4s,border .4s,background .4s,margin .4s,box-shadow .4s,-webkit-box-shadow .4s;

}.accordion-main .accordion__head {

    position: relative;

    border-bottom: 1px solid #e8eaed;

    padding-top: 15px;

    padding-bottom: 15px;

}.accordion-main .active {

    border-color: #e8eaed;

    background-color: #fff;

    -webkit-box-shadow: 0 4px 19px rgba(65,85,108,.1);

    box-shadow: 0 4px 19px rgba(65,85,108,.1);

    margin: -4px 0 15px;

}.accordion-main .active .accordion__body {

    opacity: 1;

    visibility: visible;

    max-height: 99999px;

    padding-top: 17px;

    padding-bottom: 17px;

    padding-left: 17px;

    padding-right: 17px;

}



.accordion-main .accordion__group>* {

    padding: 10 30px;

}.accordion-main .accordion__head h4 {

    font-size: 15px;

    text-transform: uppercase;

    color: #70717b;

    font-weight: 500;

    cursor: pointer;

    padding-right: 40px;

    padding-left: 17px;

    -webkit-transition: color .4s;

    -o-transition: color .4s;

    transition: color .4s;

}.accordion-main .accordion__head h4:after, .accordion-main .accordion__head h4:before {

    content: " ";

    position: absolute;

    right: 36px;

    top: 50%;

    margin-top: -1px;

    width: 12px;

    height: 2px;

    background-color: #ff603c;

    pointer-events: none;

}.accordion-main .accordion__head h4:after {

    -webkit-transform: rotate(90deg);

    -ms-transform: rotate(90deg);

    transform: rotate(90deg);

    -webkit-transition: opacity .4s,-webkit-transform .4s;

    transition: opacity .4s,-webkit-transform .4s;

    -o-transition: transform .4s,opacity .4s;

    transition: transform .4s,opacity .4s;

    transition: transform .4s,opacity .4s,-webkit-transform .4s;

}.accordion-main .accordion__body {

    -webkit-transition: opacity .4s,visibility .4s,padding .4s;

    -o-transition: opacity .4s,visibility .4s,padding .4s;

    transition: opacity .4s,visibility .4s,padding .4s;

    opacity: 0;

    visibility: hidden;

    max-height: 0;

    position: relative;

    overflow: hidden;

}.section--faq .accordion__body ul {

    margin-left: 30px;

}.accordion-main .accordion__head:before {

    content: " ";

    position: absolute;

    right: 28px;

    top: 50%;

    -webkit-transform: translateY(-50%);

    -ms-transform: translateY(-50%);

    transform: translateY(-50%);

    width: 28px;

    height: 28px;

    border-radius: 50%;

    background-color: #ffe5e0;

    pointer-events: none;

    -webkit-transition: opacity .4s;

    -o-transition: opacity .4s;

    transition: opacity .4s;

}.section--gray {

    background-color: #f8f9fd;

}.section.section--reviews>.section__head {

    padding-top: 96px;

}



.section.section--reviews .section__body, .section.section--reviews .section__head {

    z-index: 9;

    background: 0 0;

}

.section--reviews .section__head {

    font-size: 17px;

    color: #53607e;

}.section--reviews .section__head h2 {

    font-size: 36px;

    margin-bottom: 16px;

}.em-slightly_smiling_face {

    background-image: url(https://twemoji.maxcdn.com/2/72x72/1f642.png);

}.section.section--reviews .section__head p {

    margin-top: 32px;

    color: #606060;

    font-size: 20px;

    line-height: 28px;

    max-width: 490px;

}.section.section--reviews .section__body, .section.section--reviews .section__head {

    z-index: 9;

    background: 0 0;

}.shell--medium {

    max-width: 990px;

}.section .section__body-form {

    width: calc(50% - 66px);

}.form-review {

    background-color: #fff;

    border-radius: 9px;

    padding: 24px 30px;

    -webkit-box-shadow: 0 4px 57px rgba(69,79,124,.1);

    box-shadow: 0 4px 57px rgba(69,79,124,.1);

}.form-review .form__head {

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;

    -webkit-box-align: center;

    -ms-flex-align: center;

    align-items: center;

    margin-bottom: 35px;

}.form-review .form__head img {

    display: block;

    width: 70px;

    margin-right: 20px;

}.form-review .form__head h4 {

    font-size: 20px;

    font-weight: 600;

}.form-review .form__body>ul {

    list-style: none;

}.form-review .form__body>ul>li {

    padding: 15px 0;

}.form-review .form__field {

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;

    -webkit-box-align: center;

    -ms-flex-align: center;

    align-items: center;

}.form-review .form__field>label {

    font-size: 14px;

    line-height: 1.21;

    color: #53607e;

    padding-right: 20px;

    font-weight: 600;

    min-width: 133px;

    max-width: 133px;

}.form-review .form__field>input, .form-review .form__field>select, .form-review .form__field>textarea {

    width: calc(100% - 133px);

    margin-left: auto;

    border: 0;

    color: rgba(83,96,126,.7);

    -webkit-transition: color .4s;

    -o-transition: color .4s;

    transition: color .4s;

    font-weight: 600;

}.form-review .form__btn {

    border: 0;

    width: 100%;

    background-color: #ff603c;

    color: #fff;

    text-transform: uppercase;

    font-size: 13px;

    line-height: 1.1;

    font-weight: 500;

    height: 46px;

    border-radius: 6px;

    -webkit-box-shadow: 0 2px 4px rgba(47,55,78,.34);

    box-shadow: 0 2px 4px rgba(47,55,78,.34);

}.section .section__body-review {

    width: 50%;

    margin-left: auto;

}.page_reviews {

    position: relative;

    max-height: 550px;

    overflow: hidden;

}.testimonial_group .testimonial {

    width: 100%;

    float: none;

    display: block;

    padding: 0;

}.clear {

    clear: both;

}.page_reviews .rr_star, .page_reviews .stars {

    color: #f3632e;

    font-size: 18px;

    padding-left: 45px;

}.page_reviews .rr_review_text {

    font-size: 16px;

    line-height: 1.63;

    color: #53607e;

    margin-bottom: 0;

}.testimonial_group .testimonial .rr_review_text .drop_cap {

    line-height: 10px;

    font-size: 70px;

    position: relative;

    top: auto;

    left: auto;

    zoom: inherit;

    filter: none;

    opacity: 1;

}

.page_reviews .rr_review_text .drop_cap {

    display: block;

    line-height: 10px;

    font-size: 70px;

    font-weight: 600;

    color: rgba(99,99,111,.4);

}.testimonial_group .testimonial .rr_review_name {

    text-align: left;

    padding: 0;

    font-size: 13px;

    font-style: normal;

}



.page_reviews .rr_review_name {

    color: rgba(83,96,126,.6);

    font-weight: 500;

    font-size: 13px;

}.rr_review_name span {

    padding: 0;

    font-size: 13px;

}.form-review .form__body>ul>li+li {

    border-top: 2px solid #ebeef8;

}.form-review .form__field--rating>ul {

    list-style: none;

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;

    -webkit-box-align: center;

    -ms-flex-align: center;

    align-items: center;

    margin: 0 auto 0 0;

    font-size: 0;

    line-height: 0;

}.form-review .form__field--rating>ul>li {

    width: 24px;

}.form-review .form__field--rating>ul label {

    display: block;

    font-weight: 400;

    font-size: 18px;

    line-height: 1;

    -webkit-transition: color .4s;

    -o-transition: color .4s;

    transition: color .4s;

    color: #ff603c;

}.fa-star:before {

    content: "\f005";

    color: #dddddd;

}.fa-star.checked:before {

    content: "\f005";

    color: gold;

}.form-review .form__field--rating input {

    display: none;

}.more_reviews {

    position: absolute;

    bottom: 0;

    left: 0;

    right: 0;

    height: 56px;

    text-align: center;

    background: -webkit-gradient(linear,left top,left bottom,color-stop(0,hsla(0,0%,100%,0)),color-stop(50%,#f8f9fd));

    background: -o-linear-gradient(top,hsla(0,0%,100%,0) 0,#f8f9fd 50%);

    background: linear-gradient(180deg,hsla(0,0%,100%,0),#f8f9fd 50%);

    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#00000000",endColorstr="#f8f9fd",GradientType=0);

}.form-review .form__field>textarea {

    display: block;

    width: 100%;

    resize: none;

    height: 174px;

}



.form-review .form__field>input, .form-review .form__field>select, .form-review .form__field>textarea {

    width: calc(100% - 133px);

    margin-left: auto;

    border: 0;

    color: rgba(83,96,126,.7);

    -webkit-transition: color .4s;

    -o-transition: color .4s;

    transition: color .4s;

    font-weight: 600;

}* {

    padding: 0;

    margin: 0;

    outline: 0;

    -webkit-box-sizing: border-box;

    box-sizing: border-box;

}.form-review .form__field--textarea {

    -webkit-box-align: start;

    -ms-flex-align: start;

    align-items: flex-start;

}.error{

  color:red;

}



fieldset, label { margin: 0; padding: 0; }

body{ /*margin: 20px;*/ }

h1 { font-size: 1.5em; margin: 10px; }



/****** Style Star Rating Widget *****/



.rating { 

  border: none;

  float: left;

}



.rating > input { display: none; } 

.rating > label:before { 

  margin: 5px;

  font-size: 1.25em;

  font-family: FontAwesome;

  display: inline-block;

  content: "\f005";

}



.rating > .half:before { 

  content: "\f089";

  position: absolute;

}



.rating > label { 

  color: #ddd; 

 float: right; 

}



/***** CSS Magic to Highlight Stars on Hover *****/



.rating > input:checked ~ label, /* show gold star when clicked */

.rating:not(:checked) > label:hover, /* hover current star */

.rating:not(:checked) > label:hover ~ label { color: #FFD700;  } /* hover previous stars in list */



.rating > input:checked + label:hover, /* hover current star when changing rating */

.rating > input:checked ~ label:hover,

.rating > label:hover ~ input:checked ~ label, /* lighten current selection */

.rating > input:checked ~ label:hover ~ label { color: #FFED85;  } 

.accordion-main .active .accordion__head:before {

    opacity: 0;

}

.accordion-main .active .accordion__head h4:after {

    opacity: 0;

    -webkit-transform: rotate(180deg);

    -ms-transform: rotate(180deg);

    transform: rotate(180deg);

}.accordion-main .accordion__head h4:after {

    -webkit-transform: rotate(90deg);

    -ms-transform: rotate(90deg);

    transform: rotate(90deg);

    -webkit-transition: opacity .4s,-webkit-transform .4s;

    transition: opacity .4s,-webkit-transform .4s;

    -o-transition: transform .4s,opacity .4s;

    transition: transform .4s,opacity .4s;

    transition: transform .4s,opacity .4s,-webkit-transform .4s;

}



@media (max-width: 767px){
    .detail-page-card-items img {
    margin: 0 !important;
    width: calc((100%/3) - 5px);
}
.detail-page-card-items {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -ms-align-items: center;
    align-items: center;
    justify-content: space-between;
    padding-left: 10px !important;
    padding-right: 10px !important;
    padding-top: 20px !important;
}
.section {

    padding-bottom: 30px;

}

.section--faq .section__head {

    font-size: 12px;

    padding-left: 10px;

    padding-right: 10px;

}

.section .section__head {

    font-size: 12px;

    padding-left: 10px;

    padding-right: 10px;

}



.section>:not(:last-child) {

    padding-bottom: 30px;

}



.section>:first-child {

    padding-top: 30px;

}



.section--faq .section__head {

    font-size: 12px;

    padding-left: 10px;

    padding-right: 10px;

}



.section .section__head {

    font-size: 12px;

    padding-left: 10px;

    padding-right: 10px;

}



.section--faq .section__head {

    font-size: 12px;

    padding-left: 10px;

    padding-right: 10px;

}





.section .section__head {

    font-size: 12px;

    padding-left: 10px;

    padding-right: 10px;

}



.section .section__body .shell {

    display: block;

}



.section .section__body-col, .section .section__body-form {

    width: 100%;

}



.accordion-main .accordion__head {

    padding-top: 20px;

    padding-bottom: 20px;

}



.accordion-main .accordion__group>* {

    padding-left: 20px;

    padding-right: 20px;

}



.accordion-main .accordion__head:before {

    right: 10px;

}



.accordion-main .accordion__head h4 {

    font-size: 13px;

}



.accordion-main .accordion__head h4:after, .accordion-main .accordion__head h4:before {

    right: 18px;

}

.accordion-main .accordion__head h4:after, .accordion-main .accordion__head h4:before {

    right: 18px;

}   

.section .section__body-review {

    width: 100%;

    margin-top: 30px;

}

}



